nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
    // Navbar Brand
    a.navbar-brand.ps-3(href='/')
        | Start Bootstrap
    
    a.btn-primary(href="/discount") Znizki
    a.btn-primary(href="/ticketTypes") karnety 